name: Deploy Infrastructure

on:
  push:
    branches: [main]
    paths:
      - "iac/environments/prod/**"
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.AWS_DEPLOYER_ROLE_ARN }}
          aws-region: us-east-1

      - uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: iac/environments/prod
        run: terraform init

      - name: Terraform Apply
        working-directory: iac/environments/prod
        run: terraform apply -auto-approve
